<div class="landing-page" style="position:relative;">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button aria-controls="navbar" type="button" data-target="#navbar" aria-expanded="false" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a><img class="logo_img" src="assets/img/landing/school.png" alt="laptop"></a>
                </div>
                <div id="navbar" class="goal-animation navbar-collapse collapse" aria-hidden="true">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll haderStyle" page-scroll="" href="#pricing">Pricing</a></li>
                        <li><a class="page-scroll haderStyle" routerLink="/login">Login</a></li>
                        <li><button type="submit" class="btn btn-primary block full-width m-b getstarted_button" routerLink="/signup">GET STARTED</button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section id="e-com-platform" class="container services text-center">
        <div class="table-content">
            <h1>Institute management platform made for you</h1>
            <div class="input-group get-start-input">
                <div id="navbar" class="goal-animation navbar-collapse collapse" aria-hidden="true">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <select class="form-control select-country"  aria-invalid="false" name="forma" [(ngModel)]="countryData" (change)="changeCountry(countryData)">
                              <option value="{{country.CountyCode}}" style="background-image: url(assets/img/landing/school.png); height:100px; width:50px" *ngFor="let country of countries" > +{{country.CountyCode}}</option>
                            </select>
                        </li>
                        <li><input type="text" class="form-control" placeholder="Enter your phone number" [(ngModel)]="MobileNo" aria-invalid="false"></li>
                        <li><button type="button" class="btn btn-primary" (click)="getMobileNumberStatus(MobileNo, countryData)">Get started</button></li>
                    </ul>
                </div>

                 <!-- <select class="form-control" name="forma" [(ngModel)]="countryData" (change)="changeCountry(countryData)">
                        <option value="{{country.Id}}" *ngFor="let country of countries" > +{{country.CountyCode}}</option>
                </select>
                <input type="text" class="form-control" placeholder="Enter your phone number" [(ngModel)]="MobileNo" aria-invalid="false">
                <span class="input-group-btn"> <button type="button" class="btn btn-primary" (click)="getMobileNumberStatus(MobileNo)">Get started</button></span>
                 -->
            </div>
        </div>
    </section>
    <section id="img-t" class="header-back one">
        <div class="carousel-inner" role="listbox">

            <div class="container">
                <div class="carousel-caption">
                    <h1>School management<br> software that<br> administrators love.</h1>
                    <p style="color:#fff !important">An intuitive and powerful interface that requires <br> little training and ensures that work gets done
                        quickly.
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="assets/img/landing/laptop.png" alt="laptop">
                </div>


            </div>

        </div>
    </section>

    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-3">
                <h2>Fast implementation</h2>
                <p>Painless date maigration from most platforms</p>
            </div>
            <div class="col-sm-3">
                <h2>Easy to use</h2>
                <p>Minimal training requires, even for less savvy users</p>
            </div>
            <div class="col-sm-3">
                <h2>Flexible</h2>
                <p>Most aspects of MySchool are configurable to suit your needs</p>
            </div>
            <div class="col-sm-3">
                <h2>Great suppoprt</h2>
                <p>Friendly and professional staff who are ready to help you</p>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>All the tools you need.<br> <span class="navy"></span> </h1>
                    <p>From students' attendance to invoicing - everything packaged in one powerful school management system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center wow fadeInLeft col_padding_top">
                    <div>
                        <i class="fa fa-user features-icon"></i>
                        <h2>Attendence</h2>
                        <p>Simple to take and easy to manage.</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-book features-icon"></i>
                        <h2>Grade Reports</h2>
                        <p>Attractive customisable reports.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center wow fadeInLeft col_padding_top">
                    <div>
                        <i class="fa fa-money features-icon"></i>
                        <h2>Donation &amp; Fund-raising</h2>
                        <p>Manage compaigns and collect payments online.</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-table features-icon"></i>
                        <h2>Time-tables &amp; Resource Management</h2>
                        <p>Share timetables and optimise resource usage.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center wow fadeInRight col_padding_top">
                    <div>
                        <i class="fa fa-commenting-o features-icon"></i>
                        <h2>Communication Management</h2>
                        <p>Powerful solution for email, SMS &amp; online Questionnaire.</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-newspaper-o features-icon"></i>
                        <h2>Invocing &amp; Payments</h2>
                        <p>Invoicing solution build specifically for schools.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center wow fadeInRight col_padding_top">
                    <div>
                        <i class="fa fa-clipboard features-icon"></i>
                        <h2>Homework &amp; Assignments</h2>
                        <p>Assign and grade exercises accessible to parents and students.</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-check-square-o features-icon"></i>
                        <h2>Questionnaires</h2>
                        <p>Collect or confirm infromation from Parents.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="gray-section team">
        <div class="container">
            <div class="row m-b-lg">
            </div>
            <div class="row row_margin_bottom">
                <div class="col-sm-6 wow fadeInLeft">
                    <div class="team-member">
                        <i class="fa fa-tag features-icon"></i>
                        <h4>Simple Pricing</h4>
                        <p>No complex plans or hidden fees.</p>
                    </div>
                </div>
                <div class="col-sm-6 wow fadeInRight">
                    <div class="team-member">
                        <i class="fa fa-lock features-icon"></i>
                        <h4>Secure</h4>
                        <p>Privacy, security and uptime: We will never compromise on this.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<div class="demo_button">
        <h4>Instant access to the MySchool demo</h4>
        <button type="button" class="btn btn-default navbar-btn rust_button">TRY THE MYSCHOOL DEMO</button>

    </div>-->

    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>App Pricing</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 wow zoomIn animated" style="visibility: visible;">
                    <ul class="pricing-plan list-unstyled price_border">
                        <li class="pricing-title">
                            Basic
                        </li>
                        <li class="pricing-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </li>
                        <li class="pricing-price">
                            <span>$16</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 wow zoomIn animated" style="visibility: visible;">
                    <ul class="pricing-plan list-unstyled selected price_border pricing_section">
                        <li class="pricing-title">
                            Standard
                        </li>
                        <li class="pricing-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </li>
                        <li class="pricing-price">
                            <span>$22</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <strong>Support platform</strong>
                        </li>
                        <li class="plan-action">
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4  wow zoomIn animated" style="visibility: visible;">
                    <ul class="pricing-plan list-unstyled price_border pricing_section">
                        <li class="pricing-title">
                            Premium
                        </li>
                        <li class="pricing-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </li>
                        <li class="pricing-price">
                            <span>$160</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row m-t-lg">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                    <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>                        have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
                        like).
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">Company name, Inc.</span></strong><br> 795 Folsom Ave, Suite 600<br> San
                        Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color">
                        Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam
                        veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                    </p>
                </div>
            </div>
            <div class="row add_padding">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                </div>
            </div>
        </div>
    </section>

    <div class="footer_area ng-scope">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 text-left footer_align text-left footer-padding">
                    <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook footer_icon" aria-hidden="true"></i>
                </a>
                    <a href="https://twitter.com/" target="_blank">
                    <i class="fa fa-twitter footer_icon twit_in" aria-hidden="true"></i>
                </a>
                    <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fa fa-linkedin footer_icon twit_in" aria-hidden="true"></i>
                </a>
                    <a href="https://plus.google.com/" target="_blank">
                    <i class="fa fa-google-plus footer_icon google_in" aria-hidden="true"></i>
                </a>
                </div>
                <div class="col-md-9 col-sm-9 text-right term-con footer-padding">
                    <a>Terms of Service</a>
                    <a>Privacy Policy</a> {{countryData.Id}}
                    <label class="wrap">
                
                        <select class="dropdown" name="forma" [(ngModel)]="countryData">
                        <option value="{{country.Id}}"  *ngFor="let country of countries" > +{{country.CountyCode}} {{country.Name}}</option>
                        </select>
              
                    </label>

                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>